* {
    background: #000000;
}

h1{
    color: white;
    font-size: 25px;
    width: 100%;
    display: flex;
   
}

h3{
    color: white;
    font-size: 25px;
    width: 100%;
    display: flex;
   
}